

<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Weekly Call Logs</h3>
                </div>
                <div class="modal-body">
                    <h5 class="text-center">Calls made this week.</h5>
                    <table class="table table-striped" id="tblGrid">
                        <thead id="tblHead">
                        <tr>
                            <th>Date</th>
                            <th>County</th>
                            <th>Caller No</th>
                            <th>Description</th>
                            <th class="text-right">Action Taken</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2016-08-06</td>
                            <td>1</td>
                            <td>0721975214</td>
                            <td>Reported cholera in Kibera, namba nane area, four people are feared dead</td>
                            <td class="text-right">Response team sent to site</td>
                        </tr>
                        <tr>
                            <td>2016-08-7</td>
                            <td>5</td>
                            <td>0732145974</td>
                            <td>Reported Fire in Kibera, namba nane area, four people are feared dead</td>
                            <td class="text-right">Fire brigade heading to site</td>
                        </tr>
                        <tr>
                            <td>2016-08-010</td>
                            <td>10</td>
                            <td>0715697234</td>
                            <td>Reported cholera in Kisumu, ten people are feared dead</td>
                            <td class="text-right">Samples have been collected and taken to lab for testing</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
</div><!-- /.modal -->